.notes-list {
  padding-left: 0;
}

.notes-list--add {
  margin-top: 32px;
}

.list-item {
  list-style: none;
  margin-bottom: 12px;
}

.list-item--btn {
  margin-right: 12px;
  margin-bottom: none;
  width: 60px;
}

.list-item--name {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.list-item--name:hover {
  background-color: #e4ffff;
}

.list-item--selected input[type="text"] {
  background-color: #c6ffff
}

.search-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  width: 100%;
}